*{background-color:crimson;
  font-family:Bradley Hand, cursive ;
}

header{ font-size: xx-large ;
   text-align-last: center;
   color: darkorange;
}

a{ text-align-last: center;
   color: tan;
   text-decoration: none;
}
a:hover{color: brown; 
   font-size: 85%;
   ;
}

h2{color: yellow;
   text-align-last: center;
}

a1{color: green;
   text-decoration: none;
   background-color: darkorchid;
}
a1:hover{color: blue; 
   font-size: 90%;
   background-color: deeppink;
}

h3{

}