*{ margin: 0;
   padding: 0;
   background-color:#A47148;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



}

h1{ 
   overflow-y: scroll;
   overflow-x: scroll;
   display: grid;
   /* padding-top: 0px; */
   height: 20%;
   /* grid-template-rows: 10fr; */
   align-items: center;
   text-transform: uppercase;
   /* font-size:75fr; */
   text-align-last: center;
   color: #731ca5);

}

/* .wrapper > div{
   background-color: #c92657;
   padding: 1em;
} */
      ;

header:hover{
   /* transition: 2s; */
   color: #75e4e4;
   font-weight: 100;
}

a{
   background-color: ;
   /* text-decoration: none; */
   align-items: center;
   text-align: left;
   color: #BC8A5F;
}

a:hover{
   transition: .2s;
   color: #fd59ab;
   text-shadow: 5px 1px 2px #6F4518;
}


/* h2{
   text-align: center;

   display: grid;
   grid-template-columns: 2fr 6fr 2fr 6fr 8fr 5fr  ;
 
} */

.wrapper {
   /* font-size: auto; */
   overflow:hidden;
   background-image:url(https://i.pinimg.com/originals/37/3f/77/373f77f1eb1a21c1c7e627c42c6b6136.gif);
   background-size: 70px 600px ;
   position: fixed;
   top: 46; 
   bottom: 0;
   width: 100%;
   height: 65%;
   display: grid;
   grid-template-rows:6;
   grid-template-columns:6;
   /* grid-gap: 1px ; */

   ;
   
   
}

.wrapper a:nth-child(odd)
   {
   background-color:#603808;
}
 

 .wrapper a {
   /* float: left; */
   margin-left: 30px;
   /* margin-top: 2px; */
   color:#FFEDD8;
   background-color: #ff3a6b;
   /* text-align; */
   /* padding: 2fr 6fr 4fr 5fr 3fr 3fr ; */
   text-decoration: none;
 }

 .wrapper a:hover{
    transition: 0s;
   color: #13ebe0;
   text-decoration:underline;
 }



