* {
  box-sizing: border-box;
}

.cf::before,
.cf::after {
    content: "";
    display: table; 
}

.cf::after {
    clear: both;
}

html {
  position: relative;
}

img {
  max-width: 100%;
}

/* ========================
Global
======================== */

body {
  color: #351043;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h1, 

h2{
  font-size: 25px
}

, h4, h5, h6, ul, ol, p {
  margin-top: 0;
}

h1 {
  font-weight: 900;
}

p {
  line-height: 1.5;
}

a{
  text-decoration: none;
}
a, a:hover, a:focus, a:active, a:visited {
  color: #654CA7
  text-decoration: none;

}

/* ========================
Containers
======================== */

.container-fluid {
  padding: 0 1em;
}

.container {
  margin: 0 auto;
  max-width: 996px;
}

/* ========================
Navigation
======================== */

@keyframes show-header {
    0% {
        top: -4em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

nav {
  background-color: rgba(255, 0, 140, 0.836);
  box-shadow: 0 12px 1px rgba(47, 238, 72, 0.623);
  position: relative;
  top: 0;
}

nav a, nav a:hover, nav a:focus,  nav a:active, nav a:visited {
  text-decoration: none;
  ;
}

nav .brand {
  display: inline-block;
  float: left;
  font-size: 1.25em;
  font-weight: 900;
}

nav .brand a {
  color: rgb(247, 221, 221)247, 221, 221);
  display: block;
  padding: 1em 0;
}

nav .nav-toggle {
  color: #444;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 1.25em;
  padding: 1em 0;
  z-index: 1000
}

nav ul {
  border-top: 1px solid #ccc;
  clear: both;
  list-style: none;
  margin: 0 -1em;
  padding: 0;
  z-index: 999;
}

nav ul li {
  border-bottom: 1px solid #ccc;
  text-align: center;
}

nav ul li a {
  color: rgb(250, 248, 248);
  display: block;
  padding: .75em;
}

nav ul li a:hover{
  color: rgb(16, 223, 44);
  transition: .2s;
}
nav.sticky {
  animation: show-header .5s ease;
  position: fixed;
  top: 0;
  width: 100%;
}

/* ========================
Sections
======================== */

.splash {
  background-image:url(/imgs/cool.jpg); rgba(52, 152, 219, 0.65)),; 
	background-size:150px;
	color: #fff;
}

.splash .container {
  padding-top: 25vh; /* No JS fallback*/
  padding-bottom: 25vh; /* No JS fallback*/
}

.profile-image {
  border-radius: 50%;
  display: block;
  max-width: 200px;
  margin: 0 auto 1em;
  width: 100%;
}

.splash h1 {
  font-size: 3em;
  margin-bottom: .15em;
  text-align: center;
}

.splash .lead, .splash .continue {
  display: block;
  text-align: center;
}

.splash .lead {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 1em;
}

.splash .continue {
  font-size: 4em;
}

.splash .continue a {
  border: 4px solid #fff;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  width: 80px;
}
.splash .continue a:hover {
  background-color: rgba(177, 241, 0, 0.938);
}

.intro .container, .features .container, .portfolio .container, .contact .container {
  padding: 5em 0;
}

.intro, .features, .portfolio, .contact {
  text-align: center;
}



.intro {
  background-color: #7c67ca;
  color: rgb(255, 255, 255);
  }

.intro a, .intro a:hover, .intro a:focus, .intro a:active, .intro a:visited {
  color: rgb(203, 236, 15);
}

.features img {
  display: block;
  margin: 0 auto 1em;
  max-width: 200px;
}

.features .col-3 {
  margin: 3em auto;
  width: 100%;
}

a.portfolio{
  color: rgb(255, 0, 157);
}
.portfolio {
  background-color: #f6ffd0;
  color: #fff;
}

.gallery .gallery-image {
  margin: 1em auto;
  width: 100%;
}

.gallery .gallery-image img {
  background-color: black;
  border-radius: 3px;
  display: block;
  height: auto;
  padding: 8px;
  width: 100%;
}

.contact form {
  background-color: #d8f3dc;
  border-radius: 4px;
  border-top: 8px solid #55a630;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  padding: 1em;
}

.contact form input, .contact form textarea {
  border: none;
  border-radius: 4px;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

.contact form textarea {
  height: 6em;
}

.contact form input[type="submit"] {
  background-color: #55a630;
  border-radius: 0;
  color: #fff;
  padding: 1em;
  text-transform: uppercase;
}

/* ========================
Footer
======================== */

.footer {
  background-color: #720aaf;
  color:  #fff;
  font-size: 1.5em;
  text-align: center;
}

.footer .container {
  padding: 1em 0;
}

.footer a {
  color: #fff;
  margin-right: 1em;
}

.footer a:last-of-type {
  margin-right: 0;
}

/* ========================
Media Queries
======================== */

@media (min-width: 768px) {
  
  nav .nav-toggle {
    display: none;
  }
  
  nav ul {
    border: none;
    clear: none;
    display: inline-block !important;
    float: right;
    margin: 0;
    padding: 25px 0;
  }
  
  nav ul li {
    border: none;
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  
  nav ul li:last-of-type {
    margin-right: 0;
  }
  
  nav ul li a {
    padding: 0;
  }
  
  .splash h1 {
    font-size: 6em;
  }
  
  .splash .lead {
    font-size: 3em;
  }
  
  .features .col-3 {
    float: left;
    margin: 2em 5% 0 0;
    padding: 0 1em;
    width: 30%;
  }
  
  .features .col-3:last-of-type {
    margin-right: 0;
  }
  
  .gallery .gallery-image {
    float: left;
    margin-right: 2.5%;
    width: 31.6666666667%;
  }
  
  .gallery .gallery-image:nth-of-type(3n) {
    margin-right: 0;
  }
  
  .contact form {
    padding: 3em 2em 2em;
  }
  
  .contact form input[type="submit"] {
    padding: 1em 3em;
    width: auto;
  }
  
  .contact form input.full-half {
    float: left;
    margin-right: 2.5%;
    width: 48.75%;
  }
  
  .contact form input.full-half:nth-of-type(2n) {
    margin-right: 0;
  }
  
  .contact form textarea {
    height: 12em;
  }
  
}