*{   background-color: yellow;
    -webkit-animation: random 15s infinite;
    animation: random 8s infinite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    

   @keyframes  random {
       30% { background-color: red; } 
       60% { background-color: orange; } 
       40% { background-color: green; } 
       20% { background-color: blue; } 
    }

header{
   font-size: 11vmin ;
   font-weight: bold;
   padding-top: 200px ;
   padding-inline: 10%;
} 

h1{
    font-size: 8vmin;
    padding-bottom: 50% ;
    padding-inline: 10%;
}

h2{
    font-size: 45px;
    padding-bottom: 0%;
    padding-inline: 10%;
}

h3{
    font-size: 25px;
    padding-bottom: 5%;
    padding-inline: 10%;
    word-wrap: normal;
}

h4{ padding: 15%;
    text-align: center;
      
}

.grid-container {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px 40px;
  
}

.top-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px 25px;
  grid-area: 1 / 1 / 2 / 5;
}

.Donate { grid-area: 1 / 1 / 2 / 2; }

.Vote { grid-area: 1 / 2 / 2 / 3; }

.Sign-Petitions { grid-area: 1 / 3 / 2 / 4; }

.Share { grid-area: 1 / 4 / 2 / 5; }

.For-Protesters { grid-area: 1 / 5 / 2 / 6; }

.BLM-Canada { grid-area: 2 / 1 / 3 / 2; }

.BLM-UK { grid-area: 2 / 2 / 3 / 3; }

.BLM-Australia { grid-area: 2 / 3 / 3 / 4; }

.Maps-of-Protests { grid-area: 2 / 4 / 3 / 5; }

.More-Resources { grid-area: 3 / 1 / 4 / 2; }

.Other-Causes { grid-area: 3 / 2 / 4 / 3; }

.FAQ { grid-area: 3 / 3 / 4 / 4; }

.Translations { grid-area: 3 / 4 / 4 / 5; }


/* h5{
    font-size: 4vmin;
    padding-bottom: 25%;
} */

/* .grid{
    width: 21%;
    padding-bottom:51%;
  color: red;
    float:left;
    text-align:center;
    margin:1%;
  } */

  /* .container{
    margin:0 auto;
    max-width:800px;
  } */

button{
    border-radius: 50%;
    border: 20px solid rgb(255, 255, 255);
    padding: 10%; 
    color: black;
    font-size: 5vmin ;
   font-weight: bold;

  }